{
  "extends": ["standard", "plugin:react/recommended", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
      "jest": true
  },
  "settings": {
      "react": {
          "version": "16.9"
      }
  },
  "rules": {
    "react/prop-types": 0
  }
}